html, body{
    font-family: Forum;
    font-weight: 200; 
    letter-spacing: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/* Opening */ 
#topper{
    text-align: center;
    color: white; 
    background-color: rgb(255,13,114);
 /* position: absolute; 
    top: 0px; 
    left:0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1; 
    font-size: 25px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
}

#opening{
    z-index:3; 
    background-color: rgb(255,249,158);
    width:400px; 
    padding: 20px; 
    position:fixed; 
    top:50px; 
    font-size:15px; 
    border: 4px solid rgb(255,196,229); 
  /*  display: none; 
    position:fixed; 
    top:100px; */ 
}

#open_div{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#major{
    border: 1px solid rgb(137,155,255);
    font-family: Forum;
    font-weight: 200; 
    letter-spacing: 10px; 
    width:220px; 
}

#gender{
    border: 1px solid rgb(137,155,255);
    font-family: Forum;
    font-weight: 200; 
    letter-spacing: 10px;
    width:202px; 
}

#fname{
    border: 1px solid rgb(137,155,255);
    font-family: Forum;
    font-weight: 200; 
    letter-spacing: 10px;
    width:150px; 
}

#lname{
    border: 1px solid rgb(137,155,255);
    font-family: Forum;
    font-weight: 200; 
    letter-spacing: 10px;
}

#open_enter{
 width: 85px;
 height:30px; 
 font-family: Forum;
 font-weight: bolder; 
 letter-spacing: 10px; 
 background-color: rgb(255,196,229);
 border: 2px solid rgb(245,123,174);  
 margin-left:150px;  
}

#open_enter:hover{
    background-color: rgb(254, 227, 243);
    border: 2px solid rgb(246, 152, 191);
    cursor: pointer; 
}

#open_enter:active{
    background-color: rgb(245,123,174);
    border: 2px solid rgb(245,123,174);  
    cursor: pointer; 
}

/* End of Opening */ 

#main_nav{
    display: flex;
    flex-direction: row;
    display: none;  
}

#left_nav{
    height: 900px;  /* 900 + 840*/ 
    width: 450px;  /* 450 + 1048 */ 
    border: 1px solid black;
    background-color: rgb(255,241,249); 
    position: fixed;
    top: 40px; 
    left: 0;
    height: calc(100vh - 40px); 
 /* margin-left: 0px; 
    z-index:-1;
    margin-top: 0px; 
    position: fixed; 
    top: -30px; 
    left: -300px; 
    margin: 20px 60% 20px 30%;*/ 
}

#info_div{
   /* padding-top:10px;  */ 
    font-size:40px; 
    text-align:center; 
    display:flex; 
    flex-direction:column; 
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 400px; 

}

#playButton{
text-align: center; 
padding-top: 120px; 
font-size: 50px; 
height: 300px; 
}

#playButton:hover{
    cursor: pointer; 
    background-color: rgb(252, 252, 252);
}

#playButton:active{
    cursor: pointer; 
    background-color: rgb(245,123,174);
    color:white; 
}

/** {
    box-sizing: border-box;
  }*/ 

 /* #right_nav{
    height: 900px; 
  /*  background-color: rgb(252,255,210);  
    border: 1px solid black;
    width: 1050px;
    height: calc(100vh - 40px); 
    position: fixed;
    right: 0; 
    top: 40px;
} */ 

 #right_nav{
   /* font-size: 40px; */ 
  /*   font-size: 30px; 
    display:flex; 
    flex-direction:column; 
    justify-content: space-around;
    border:1px solid black; */ 
  /*  padding-left:10px; */ 
   /* box-sizing: border-box;*/ 
 /* background-color: rgb(252,255,210); */ 
   border-bottom: 1px solid black; 
    width: 1048px; 
    position: fixed;
    right: 0;
    top: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; 
  /*  height: 300px; 
 /*   height: calc(100vh - 40px); */
} 

#clubs_nav{
   /* margin-top:-39px; 
    margin-left:-1px; */ 
    border-bottom: 1px solid black; 
    cursor:pointer;
    background-color: rgb(252,255,210);
    height:120px; 
    padding-left: 10px; 
  /*  line-height: 400px;
    margin-top:-160px; 
    padding-bottom:-160px; */ 
  /*  border:1px solid black; 
    line-height: 150px; */  
} 

#clubs_nav:hover{
 background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
 color: white;
}

#clubs_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }

#dorms_nav{
  /*  margin-top:-50x; 
    margin-left:-1px; */ 
    border-bottom: 1px solid black; 
    cursor:pointer;
    background-color: rgb(252,255,210);
    height:120px;
    padding-left: 10px;  
   /* z-index:3; */ 
  /*  height: 20px;
  /*  height:150px; 
  /*  line-height: 300px;
    padding-bottom:-360px; */ 
 /*   margin-top:-50px; 
    /* border:1px solid black; 
    line-height: 150px;
     border:1px solid black;
    height: 100px;   */
}  

#dorms_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
  z-index: 2; 
 }

 #dorms_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }

#finance_nav{
  /*  margin-top:-60px; 
    margin-left:-1px; */ 
    border-bottom:1px solid black; 
    cursor:pointer;
    height: 120px;
    background-color: rgb(252,255,210); 
    padding-left: 10px; 
   /* border:1px solid black; 
    line-height: 150px;
     border:1px solid black;  */ 
}

#finance_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #finance_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }


#friends_nav{
 /*   margin-top:-40px; 
    margin-left:-1px; */ 
    border-bottom:1px solid black; 
    cursor:pointer;
    height: 120px; 
    background-color: rgb(252,255,210);
    padding-left: 10px; 
  /*  line-height: 150px; */ 
} 

#friends_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #friends_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }

#intern_nav{
 /*   margin-top:-40px; 
    margin-left:-1px; */ 
    border-bottom:1px solid black; 
    cursor:pointer;
    height: 120px; 
    background-color: rgb(252,255,210);
    padding-left: 10px; 
  /*  border:1px solid black; 
    line-height: 150px; */ 
} 

#intern_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #intern_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }

#jobs_nav{
  /*  margin-top:-40px; 
    margin-left:-1px; */ 
    border-bottom:1px solid black; 
    cursor:pointer;
    height: 120px; 
    background-color: rgb(252,255,210);
    padding-left: 10px; 
  /*  border:1px solid black; 
    line-height: 150px; */ 
}

#jobs_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #jobs_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color: whitesmoke;  
 }

 #school_nav{
  height: 120px; 
  background-color: rgb(252,255,210);
  cursor:pointer; 
  padding-left: 10px; 
  }

 #school_nav:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #school_nav:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #options_div{
  background-color: rgb(252,255,210);
  height: 866px; /*1740px; */  
  width: 1498px; 
  display:flex; 
  flex-direction:column; 
  justify-content: space-between;
  position: fixed; 
  top: 40px; 
  font-size: 30px; 
  display: none; 
 /* position: fixed;
  right: 0;
  top: 40px;
  font-size: 30px;  */ 
 }

 #title_options{
  height: 50px;
  width: 1500px; 
  border-bottom: 1px solid black; 
  background-color: rgb(252,255,210);
  text-align: center; 
 }


 #first_options{
  height: 100px;
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  cursor: pointer; 
 }

 #first_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #first_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #second_options{
  height: 100px;
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210); 
  cursor: pointer; 
 }

 #second_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #second_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #third_options{
  height: 100px;
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  cursor: pointer; 
 }

 #third_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #third_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #fourth_options{
  height: 100px;
  width: 1500px; 
/*  border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  padding-left: 10px; 
  cursor: pointer; 
 }

 #fourth_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #fourth_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #fifth_options{
  height: 100px; 
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  padding-left: 10px; 
  cursor: pointer; 
 }

 #fifth_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #fifth_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #sixth_options{
  height: 100px; 
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  padding-left: 10px; 
  cursor: pointer; 
 }

 #sixth_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #sixth_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #seventh_options{
  height: 100px;
  width: 1500px;  
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  padding-left: 10px; 
  cursor: pointer; 
 }

 #seventh_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #seventh_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #eighth_options{
  height: 100px;
  width: 1500px; 
 /* border-bottom: 1px solid black; */ 
  background-color: rgb(252,255,210);
  padding-left: 10px; 
  cursor: pointer; 
 }

 #eighth_options:hover{
  background-color: rgb(251, 226, 117); /*rgb(255, 223, 80)*/ 
  color: white; 
 }

 #eighth_options:active{
  background-color: rgb(250, 213, 51); /*rgb(255, 223, 80)*/ 
  color:whitesmoke;  
 }

 #back_button{
  color: black; 
  position: absolute; 
  top: 5px; 
  cursor: pointer; 
  left: 10px;  
 }

 #back_button:hover{ 
  color: gray; 
 }

 #back_button:active{ 
  color: white; 
 }

 #limitDiv{
/*  width:400px; 
 padding: 20px;  
  background-color: white; 
  z-index: 9; 
  border: 4px solid rgb(255,241,249); */ 
  height: 100px; 
  position: fixed;       
  top: 250px;           
  left: 50%;
  transform: translateX(-50%);  
  background: #fff;
  border: 4px solid rgb(255,241,249);
  padding: 8px 12px;
  z-index: 1000;
  text-align: center; 
  font-weight: bold;
  display: none; 
}

#limitButton{
  position: fixed; 
  left: 85px; 
  height: 40px; 
  width: 70px; 
  bottom: 20px; 
  background-color: rgb(255, 249, 158);
  border: 2px solid rgb(255, 196, 229);
  display: none; 
}

#limitButton:hover{
  cursor: pointer; 
  background-color: rgb(255, 253, 231);
  border: 2px solid rgb(255, 228, 244);
}

#limitButton:active{
  cursor: pointer; 
  background-color: rgb(255, 142, 210);
  border: 2px solid rgb(255, 142, 210);
}

 @media (max-width: 1023px){
  /* Change this Later */ 
  #clubs_nav{
    text-align: center;
  }
  #dorms_nav{
    text-align: center;
  }
  #finance_nav{
    text-align: center;
  }
  #friends_nav{
    text-align: center;
  }
  #intern_nav{
    text-align: center;
  }
  #jobs_nav{
    text-align: center;
  }  
  #right_nav{
    justify-content: center;     
  }
  #school_nav{
    text-align: center;
  }

 /*  #title_options{
    text-align: left;
  } */ 
 }


/*#school_nav{
  /*  margin-top:-40px; 
    margin-left:-1px;  
    border-bottom:1px solid black; 
    border:1px solid black; 
    line-height: 150px; 
} */ 
  
/*Change the way left nav ans right nav are connected because right now it doesnt work for zooming out*/ 


